<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white"  >MovieStore</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" id="navbarNavDarkDropdown">
            <ul class="navbar-nav flex-grow-1">

                <li class="nav-item dropdown">
                    

                    <div class="dropdown">
                        <a class="btn btn-dark dropdown-toggle text-secondary" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          GENRES
                        </a>
                      
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <app-genres></app-genres>
                        </div>
                      </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" >PRIVACY</a>
                </li>
            </ul>
        </div>
    </div>
    
</nav>
